<div class="card", style="height: 200px">
  <%= link_to bike_path(Bike.find(booking.bike_id)) do %>
    <% if Bike.find(booking.bike_id).photo.attached? %>
      <img class="card-img-top img-size" src="<%= cl_image_path Bike.find(booking.bike_id).photo.key %>" alt="Card image cap">
    <% else %>
      <img class="card-img-top img-size" src="https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)" alt="Card image cap">
    <% end %>
  <% end %>
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <span class="badge rounded-5 text-bg-dark mb-3"><%= Bike.find(booking.bike_id).bike_type %></span>
      <p class="card-text"><strong><%= Bike.find(booking.bike_id).brand %></strong></p>
    </div>
    <p class="card-text"><em>Status: <%= booking.status %></em></p>
    <p class="card-text">From <em><%= booking.start_date %></em> to <em><%= booking.end_date %></em></p>
    <div class="d-flex justify-content-between">
      <div class="d-flex"><i class="fa-solid fa-location-dot"></i><p style="margin-left: 4px"><%= Bike.find(booking.bike_id).address %></p></div>
      <div><i class="fa-solid fa-euro-sign"></i><strong><%= (booking.total_price).round %></strong></div>
    </div>
    <div class="card-body d-flex justify-content-around py-0">
      <% if booking.status == 'pending' %>
        <%= link_to accept_booking_path(booking), data: {turbo_method: :patch } do %>
          <h6><i class="fa-solid fa-check"></i></h6>
        <% end %>
        <%= link_to refuse_booking_path(booking), data: {turbo_method: :patch } do %>
          <h6><i class="fa-solid fa-xmark"></i></h6>
        <% end %>
      <% elsif booking.status == 'accepted' %>
        <p class="card-text text-center"><em>This booking has been validated</em></p>
        <%= link_to cancel_booking_path(booking),  data: {turbo_method: :patch } do %>
          <h6 class="text-black"><i class="fa-solid fa-trash-can"></i></h6>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
