<div class="card">
  <%= link_to bike_path(Bike.find(booking.bike_id)) do %>
    <% if Bike.find(booking.bike_id).photo.attached? %>
      <img class="card-img-top img-size" src="<%= cl_image_path Bike.find(booking.bike_id).photo.key %>" alt="Card image cap">
    <% else %>
      <img class="card-img-top img-size" src="https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)" alt="Card image cap">
    <% end %>
  <% end %>
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <span class="badge rounded-5 text-bg-dark mb-3"><%= Bike.find(booking.bike_id).bike_type %></span>
      <div class="d-flex">
        <div class="dropdown">
          <h6 class="btn-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-ellipsis"></i>
          </h6>
          <ul class="dropdown-menu">
            <%= link_to bike_path(Bike.find(booking.bike_id), :booking_id => booking.id) do %>
              <li><p class="dropdown-item text-decoration-none"><i class="fa-solid fa-pen px-2"></i>Edit</p></li>
            <% end %>
              <li><p data-controller="sweetalert" data-action="click->sweetalert#booking_alert" id="sweet-alert-demo" class="dropdown-item text-decoration-none"><i class="fa-solid fa-trash-can px-2"></i>Cancel</p></li>
          </ul>
          <%= render "alert2", booking: booking %>
        </div>
      </div>
    </div>
    <p class="card-text"><strong>Model: <%= Bike.find(booking.bike_id).brand %></strong></p>
    <p class="card-text">From <em><%= booking.start_date.strftime("%d/%m/%Y") %></em> to <em><%= booking.end_date.strftime("%d/%m/%Y") %></em></p>
    <div class="d-flex"><i class="fa-solid fa-location-dot"></i><p style="margin-left: 4px"><%= Bike.find(booking.bike_id).address %></p></div>
    <div class="d-flex justify-content-between">

      <% if booking.status == "pending" %>
        <p class="card-text badge text-bg-primary"><%= booking.status %></p>
      <% elsif booking.status == "accepted" %>
        <p class="card-text badge text-bg-success"><%= booking.status %></p>
      <% elsif booking.status == "cancelled"%>
        <p class="card-text badge text-bg-secondary"><%= booking.status %></p>
      <% elsif booking.status == "refused" %>
        <p class="card-text badge text-bg-danger text-white"><%= booking.status %></p>
      <% end %>

      <div><strong><%= (booking.total_price).round %></strong><i class="fa-solid fa-euro-sign"></i></div>
    </div>
  </div>
</div>
