<div class="container-header container">
  <section class="vh-100">
    <div class="container-fluid">
      <div class="row">
      <div class="col-sm-6 text-black">
        <div class="">
          <h3 class="form-title fw-bold">Edit your bike</h3>
          <%= simple_form_for @bike do |f| %>
            <%= f.input :bike_type, collection: Bike::TYPES, label: 'Type', label_html: { class: "label" } %>
            <%= f.input :brand, placeholder: 'Scott', label: 'Brand', label_html: { class: "label" }, input_html: { class: "input" } %>
            <%= f.input :address,
              label: 'Address',
              label_html: { class: "label" },
              input_html: {data: {address_autocomplete_target: "address"}, class: "input d-none"},
              wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
            %>
            <%= f.input :description, placeholder: 'Great bike ! Even without doping you can still feel like Armstrong', label: 'Description', label_html: { class: "label" }, input_html: { class: "input" } %>
            <%= f.input :price_per_day, placeholder: '10€', label: 'Price per day', label_html: { class: "label" }, input_html: { class: "input" } %>
            <%= f.input :photo, as: :file, label: 'Photo', label_html: { class: "label" }, input_html: { class: "input" } %>
            <%= f.submit class: 'btn btn-primary' %>
          <% end %>
            <%= link_to "Cancel", bikes_path, class: 'btn btn-outline-danger' %>
          </div>
      </div>
      <div class="col-sm-6 text-black">
        <div class="image-bike-new-container">
          <img src="https://images.unsplash.com/photo-1594171799689-5a716fd3acd4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fGJpa2V8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60"
          alt="Rent image" class="w-100 image-bike-new">
        </div>
      </div>
    </div>
  </section>
</div>
