<h1>Edit your bike</h1>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="">
        <h3 class="form-title fw-bold">Propose your bike to location</h3>
        <%= simple_form_for @bike do |f| %>
          <%= f.input :bike_type, collection: Bike::TYPES %>
          <%= f.input :brand, placeholder: 'Scott' %>
          <%= f.input :address,
            input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
            wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
          %>
          <%= f.input :description, placeholder: 'Great bike ! Even without doping you can still feel like Armstrong' %>
          <%= f.input :price_per_day, placeholder: '10€' %>
          <%= f.input :photo, as: :file %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
        <%= link_to "Cancel", bikes_path %>
      </div>
    </div>
  </div>
</div>
