<div class="container mt-3">
  <div class="d-flex mb-3">
    <h1 class="mb-3 p-2">All our Bikes</h1>
    <span class="badge rounded-5 text-bg-primary bg-dark p-2 align-self-start"><%= @bikes.length %></span>
    <%= link_to "Add bike", new_bike_path, class: "btn btn-cta ms-auto p-2 align-self-center" %>
  </div>
  <div class="cards">
    <% @bikes.each do |bike| %>
      <%= link_to bike_path(bike), style: "text-decoration:none" do %>
      <% if bike.photo.attached? %>
        <div class="product-card" style="background-image: url('<%= cl_image_path bike.photo.key, height: 150, crop: :lfill %>')">
      <% else %>
        <div class="product-card" style="background-image: url(https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)">
      <% end %>
          <div class="logo-cart">
            <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer">
          </div>
          <div class="content-details">
            <span class="content-brand"><p class="card-text"><%= bike.brand %></p></span>
            <p class="card-text"><%= bike.description %></p>
          </div>
          <div class="content-price">
            <div class="content-option">
              <span class="content badge rounded-5 text-bg-dark"><%= bike.bike_type %></span>
            </div>
            <p class="price">
              <%= bike.price_per_day %><i class="fa-solid fa-euro-sign"></i>
            </p>
          </div>
        </div>
      <% end  %>
    <% end %>
  </div>
</div>
