<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="">
        <h3 class="form-title fw-bold">Propose your bike to location</h3>
        <%= simple_form_for @bike do |f| %>
          <%= f.input :bike_type, collection: Bike::TYPES, input_html: { class: "input" } %>
          <%= f.input :brand, placeholder: 'Scott', input_html: { class: "input" } %>
          <%= f.input :address, placeholder: 'Place de Clichy', input_html: { class: "input" } %>
          <%= f.input :description, placeholder: 'Super vélo de route ! Même sans dopage, ça va vite !', input_html: { class: "input" } %>
          <%= f.input :price_per_day, placeholder: '10€', input_html: { class: "input" } %>
          <%= f.input :photo, as: :file, input_html: { class: "input" } %>
          <%= f.submit class: 'btn btn-cta' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
