<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>Here is this bike's information</h1>
      <%= link_to "Back to all bikes", bikes_path %>
    </div>
  </div>

  <div class="card-trip">
    <img src="https://images.unsplash.com/photo-1571188654248-7a89213915f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" />
    <div class="row">
      <div class="card-trip-infos col-8">
        <div class="">
          <ul class="card-trip-list">
          <li>Type : <%= @bike.bike_type %></li>
          <li>Brand : <%= @bike.brand %></li>
          <li>Address : <%= @bike.address %></li>
          <li>Description : <%= @bike.description %></li>
          </ul>
          <h2 class="card-trip-pricing ms-4 mt-5 "><button id= "dayprice" class="btn btn-dark disabled">Price per day: <%= @bike.price_per_day %>€</button></h2>
        </div>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
      <div class="col-4">
        <div class="flat-show-card">
            <div class="d-flex justify-content-end mx-3 my-3">
              <%= simple_form_for [@bike, @booking] do |f| %>
                <%= f.input :start_date, as: :string %>
                <%= f.input :end_date, as: :string %>
                <button class="btn btn-success">Book !</button>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
