<div class="container">
  <div class="row">
    <div class="col-6">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <%= link_to bikes_path do %>
            <a><li class="breadcrumb-item text-decoration-none">Bikes</a></li>
          <% end%>
          <li class="breadcrumb-item active" aria-current="page"><%= @bike.brand %></li>
        </ol>
      </nav>
      <h1>More information about <%= @bike.brand %> bike</h1>
    </div>
  </div>

  <div class="card-trip">
    <div class="container">
      <div class="row">
        <div class="col-6 show-bike">
          <% if @bike.photo.attached? %>
            <img class="half-page" src='<%= cl_image_path @bike.photo.key, height: 150, crop: :fill %>'>
          <% else %>
            <img class="half-page" src='https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'>
          <% end %>
        </div>
        <div class="col-6 show-bike">
          <div class="half-page"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card-trip-infos col-7">
        <div class="">
          <ul class="card-trip-list">
          <li>Type : <%= @bike.bike_type %></li>
          <li>Brand : <%= @bike.brand %></li>
          <li>Address : <%= @bike.address %></li>
          <li>Description : <%= @bike.description %></li>
          </ul>
          <h2 class="card-trip-pricing ms-4 mt-5 "><button id= "dayprice" class="btn btn-dark disabled">Price per day: <%= @bike.price_per_day %>€</button></h2>
        </div>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
      <% if current_user != @bike.user %>
        <div class="col-5 p-5">
          <div class="card-booking ">
              <div class="mx-6 my-6">

                <%= simple_form_for [@bike, @booking],
                                    html: {
                                      data: {
                                        controller: 'flatpickr'

                                      },

                                    } do |f| %>
                                      <%= f.input :start_date, as: :string,

                              input_html: {
                                data: {
                                  flatpickr_target: 'startDateInput'

                                },
                                class: "d-inline p-2"
                              } %>


                    <%= f.input :end_date, as: :string,
                                input_html: {
                                  data: {
                                    flatpickr_target: 'endDateInput'
                                  },
                                  class: "d-inline p-2"
                                } %>
                    <%= f.submit 'Book now!', class: 'btn btn-primary' %>

                <% end %>

              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
