<div class="header">
  <div class="container-header container">
    <h1 class="fw-bold">Hello <%= current_user.first_name %> 🎉</h1>
    <h6 class="welcome">Welcome back to your garage !</h6>
    <nav class="mt-5">
      <div class="nav nav-pills" id="nav-tab" role="tablist">
        <button class="nav-link nav-link-dashboard active" id="nav-bookings-tab" data-bs-toggle="tab" data-bs-target="#nav-bookings" type="button" role="tab" aria-controls="nav-bookings" aria-selected="true">My bookings</button>
        <button class="nav-link nav-link-dashboard" id="nav-validations-tab" data-bs-toggle="tab" data-bs-target="#nav-validations" type="button" role="tab" aria-controls="nav-validations" aria-selected="true">My validations</button>
        <button class="nav-link nav-link-dashboard" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">My bikes</button>
      </div>
    </nav>
  </div>
</div>

<div class="container">

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show" id="nav-bookings" role="tabpanel" aria-labelledby="nav-bookings-tab" tabindex="0">
      <section class="section">
        <div class="d-flex justify-content-start align-items-center">
          <% if @user_own_bookings.empty? %>
            <%= render "shared/emptystates" %>
            <div class="empty-content">
              <h3>No bookings</h3>
              <%= link_to "Find a bike", bikes_path, class: "btn btn-outline-dark" %>
            </div>
          <% end %>
          <div class="cards">
            <% @user_own_bookings.each do |booking| %>
              <%= render "shared/card-my-bookings", booking: booking %>
            <% end %>
          </div>
        </div>
      </section>
    </div>

    <div class="tab-pane fade show" id="nav-validations" role="tabpanel" aria-labelledby="nav-validations-tab" tabindex="0">
      <section class="section">
        <div class="d-flex justify-content-start align-items-center">
          <% if @rented_out_by_user.empty? %>
            <%= render "shared/emptystates" %>
            <div class="empty-content">
              <h3>No validation requests</h3>
            </div>
          <% end %>
          <div class="cards">
            <% @rented_out_by_user.each do |booking| %>
              <%= render "shared/card-booking-validation", booking: booking %>
            <% end %>
          </div>
        </div>
      </section>
    </div>


    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
      <section class="section">
        <div class="d-flex justify-content-start">
          <% if @bikes.empty? %>
            <%= render "shared/emptystates" %>
            <div class="empty-content">
              <h3>No bikes</h3>
              <%= link_to "Add a bike", new_bike_path, class: "btn btn-outline-dark" %>
            </div>
          <% end %>
          <div class="cards">
            <% @bikes.each do |bike| %>
              <%= render "shared/card-bike", bike: bike %>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
